.Rproj.user
.Rhistory
.RData
.Ruserdata
.quarto/
_site/
.DS_Store
Thumbs.db
/.quarto/
**/*.quarto_ipynb
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.run.xml
*.bcf
fonts/
*.ttf
*.otf
